# =====================================================
# CORE DJANGO
# =====================================================
Django>=4.2

# PostgreSQL driver
psycopg2-binary>=2.9

# =====================================================
# DJANGO REST FRAMEWORK
# =====================================================
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3

drf-spectacular>=0.27
drf-spectacular-sidecar>=2024.1


# If still using Swagger (drf-yasg)
drf-yasg[validation]>=1.21



# =====================================================
# CORS (React localhost:3000 support)
# =====================================================
django-cors-headers>=4.3

# =====================================================
# DJANGO FILTERS
# =====================================================
django-filter>=23.5


# =====================================================
# KAFKA
# =====================================================
kafka-python>=2.0

# =====================================================
# UTILITIES
# =====================================================
requests>=2.31.0
xmltodict>=0.13.0
faker>=24.0

# =====================================================
# TESTING
# =====================================================
pytest>=7.4
pytest-django>=4.7

# =====================================================
# OPTIONAL PRODUCTION SERVER (Recommended)
# =====================================================
gunicorn>=21.2
